body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.top-banner {
    background-image: url("Image/top-banner.png");
    background-repeat: no-repeat;
}

section {
    height: 500px;
}
h1 {
    font-size: 50px;
}

.name{
    color: brown;
}

.hello {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.hello img {
    margin-top: 2%;
    margin-left: 7%;
    float: left;
    width: 80%;

}